page-profile-details {
    .imgz{
        width:200px; 
        height:200px;
         border-radius:500px; 
         margin-top:20px;
         margin: auto ;     
         background-position: center;
 }


}
