page-home {

    .center{
        position: relative;
        text-align: center;
        // background-color: yellow;
        width: 100%;
        top: 50%;
        margin-top: -50px;
        // margin: auto;
       
       
    }
    .ion-button{
        width: 50%;
           
    }

}


