page-signup {

  /*  ion-card{
        position: relative;
        background-color: greenyellow;
        
        
    }*/
  .para{
      text-align: center;
      color: rgb(4, 0, 255);
      font-size: 15px;
  }

}
